<% provide(:stylesheet, 'sessions') %>
<div class="session-container">
  <%= form_for(:session, url: sessions_path, html: {role: 'form', class: 'form-signin'}) do |f| %>
      <div id="logo">
        <%= image_tag 'logo.png', alt: 'running' %>
      </div>
      <div>
        <%= f.text_field :email, placeholder: 'Email' %>
        <%= f.password_field :password, class: 'Contrasena' %>
        <%= f.submit 'ENTRAR', class: 'btn btn-signin' %>
      </div>
  <% end %>
</div>