<% provide :body_class, @user.gender.to_s.downcase == 'female' ? 'woman' : ''  %>
<!-- Page content -->
<% unless @user.session_videos.empty? %>
    <section class="accordion video">
      <div class="container">
        <h2 class="section-headline">VÍDEOS DE LA <br>SESIÓN</h2>

        <p class="section-text">¿Te has visto alguna vez correr? Todos tenemos una idea de los gestos que hacemos al
          correr,
          pero ¿verdaderamente has identificado esos movimientos en un video en el que corres? La mayoría de los runners
          no
          se han visto correr nunca y te sorprenderá descubrir si la idea que tienes de como corres es correcta o al
          contrario haces movimientos de los que no eras consciente.</p>
        <a class="btn"><span class="closed-section">Ver</span><span class="opened-section">Cerrar</span> los vídeos de
          la
          sesión</a>
      </div>
    </section>
    <section class="video-open accordion-open">
      <div class="container container--video">
        <div class="slider">
          <% @user.session_videos.each do |video| %>
              <div class="slide">
                <iframe src="<%= video.video_url %>" width="967px" height="483px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
          <% end %>
        </div>
      </div>
    </section>
<% end %>

<section class="accordion performance">
  <div class="container">
    <h2 class="section-headline">ÍNDICE DE <br>RENDIMIENTO</h2>

    <p class="section-text">¿Aumenta tu técnica de carrera la posibilidad de caer en lesiones? ¿Qué partes de tu patrón
      de movimiento están especialmente sobrecargadas? El Índice de Rendimiento representa la calidad de tu técnica de
      carrera y resume los resultados de todas las pruebas que te hemos hecho, ayudando así a responder esas
      preguntas.</p>
    <a class="btn"><span class="closed-section">Ver</span><span class="opened-section">Cerrar</span> el Índice de
      Rendimiento</a>
  </div>
</section>
<section class="performance-open accordion-open">
  <div class="container container--inside">
    <div class="left left--anatomy">
      <h3 class="performance-headline">¿QUÉ SIGNIFICA EL ÍNDICE DE RENDIMIENTO?</h3>

      <p class="performance-text">Un valor elevado indica que tu patrón de movimiento no sobrecarga en exceso las
        articulaciones alejándolas de la posibilidad de lesionarlas. El índice está fraccionado en articulaciones
        pudiendo identificar cuál de ellas tiene un peor rendimiento y mayor posibilidad de lesión. Un corredor medio
        lesionado esta entorno al 42% mientras que uno no lesionado se sitúa en un 65%. Un corredor de élite se situaría
        en torno al 90%.</p>
      <% if @user.total.present? %>
          <div class="performance-chart">
            <div class="performance-chart__text">
              <h4><%= @user.total %>%</h4>
              <span>Índice de rendimiento</span>
            </div>
            <canvas id="performanceChart" width="260" height="260" data-var="<%= @user.perf_index_data %>"
                    data-color="<%= @user.perf_color(@user.total, false) %>"></canvas>
          </div>
      <% end %>
    </div>

    <% if @user.ankle.present? or @user.knee.present? or @user.functionality.present? or @user.hip.present %>
        <div class="right right-anatomy">
          <div class="performance-radar-chart">
            <canvas id="performanceRadarChart" width="400" height="400" data-var="<%= @user.index_data %>"></canvas>
          </div>
        </div>
    <% end %>
  </div>
</section>

<section class="accordion technical-analysis">
  <div class="container">
    <h2 class="section-headline">ANÁLISIS <br>TÉCNICO</h2>

    <p class="section-text">A continuación se muestran una serie de variables biomecánicas que describen tu patrón de
      movimiento. Para cada variable se eligen una serie de parámetros biomecánicos relacionados con el riesgo de lesión
      que son evaluados en función de su valor en “escaso”, “óptimo” o “exceso”. Esta valoración se basa en la
      comparación de tus valores con una base de datos de más de 2.000 corredores divididos en sexo, edad y nivel de
      rendimiento.</p>
    <a class="btn"><span class="closed-section">Ver</span><span class="opened-section">Cerrar</span> el análisis técnico</a>
  </div>
</section>
<section class="technical-analysis-open accordion-open">
  <div class="technical-section desktop-visible">
    <div class="container container-analysis">
      <div class="left left--anatomy">
        <h3 class="anatomy-headline">CICLO DE ZANCADA</h3>

        <p class="technical-text">La velocidad de carrera depende de la frecuencia y longitud de la zancada. A una misma
          velocidad múltiples combinaciones de frecuencia y longitud de zancada son posibles. Podemos correr dando pocas
          zancadas pero largas o correr con zancadas más cortas pero dando muchos pasos. Según demuestran múltiples
          estudios, correr con una alta frecuencia y una corta longitud de zancada estresa menos nuestras articulaciones
          alejándonos de las temidas lesiones.</p>
      </div>
      <div class="right right-anatomy">
        <table class="speed-table" align="right" width="400px">
          <% if @user.kmh.present? %>
              <tr>
                <td align="left" class="orange">Km/h a los que se hizo la prueba</td>
                <td align="right"><%= @user.kmh %> km/h</td>
              </tr>
          <% end %>
          <% if @user.minkm.present? %>
              <tr>
                <td align="left" class="orange">min/km a los que se hizo la prueba</td>
                <td align="right"><%= @user.minkm %> min/km</td>
              </tr>
          <% end %>
        </table>
      </div>

      <div class="table-wrapper">
        <%= image_tag 'running_cycle-man.png', alt: 'Runners' %>
        <table class="running-table">
          <tr>
            <th class="table-header1">CONTACTO IZQUIERDO</th>
            <th class="table-header2">VUELO IZQUIERDO</th>
            <th class="table-header3">CONTACTO DERECHO</th>
            <th class="table-header4">VUELO DERECHO</th>
          </tr>
          <tr>
            <td>
              <span class="table-left">Tiempo</span><%= number_with_precision(@user.left_stride_time_stance, precision: 2) %>
              s
            </td>
            <td><%= number_with_precision(@user.left_stride_time_swing, precision: 2) %> s</td>
            <td><%= number_with_precision(@user.right_stride_time_stance, precision: 2) %> s</td>
            <td><%= number_with_precision(@user.right_stride_time_swing, precision: 2) %> s</td>
          </tr>
          <tr>
            <td colspan="2">
              <span class="table-left">Tiempo</span><%= number_with_precision(@user.left_stride_time, precision: 2) %> s
            </td>
            <td colspan="2"><%= number_with_precision(@user.right_stride_time, precision: 2) %> s</td>
          </tr>
          <tr>
            <td colspan="2">
              <span class="table-left">Distancia</span><%= number_with_precision(@user.left_stride_length, precision: 2) %>
              m
            </td>
            <td colspan="2"><%= number_with_precision(@user.right_stride_length, precision: 2) %> m</td>
          </tr>
          <tr>
            <td colspan="2"><span class="table-left">Frecuencia zancada</span><%= @user.left_stride_frequency %>
              pasos/min
            </td>
            <td colspan="2"><%= @user.right_stride_frequency %> pasos/min</td>
          </tr>
        </table>
      </div>
      <div class="charts-wrapper">
        <div class="chart-donut-wrapper">
          <span class="text-inside">Contacto/vuelo <br> pie izquierdo</span>
          <canvas id="chart1" width="175" height="175" data-var="<%= @user.chart1_data %>"></canvas>
        </div>
        <div class="chart-donut-wrapper">
          <span class="text-inside">Contacto/vuelo <br> pie derecho</span>
          <canvas id="chart2" width="175" height="175" data-var="<%= @user.chart2_data %>"></canvas>
        </div>
        <div class="chart-donut-wrapper">
          <span class="text-inside">Reparto de <br> tiempo zancada</span>
          <canvas id="chart3" width="175" height="175" data-var="<%= @user.chart3_data %>"></canvas>
        </div>
        <div class="chart-donut-wrapper">
          <span class="text-inside">Longitud de <br> zancada</span>
          <canvas id="chart4" width="175" height="175" data-var="<%= @user.chart4_data %>"></canvas>
        </div>
        <div class="chart-donut-wrapper">
          <span class="text-inside">Pasos por <br> minuto</span>
          <canvas id="chart5" width="175" height="175" data-var="<%= @user.chart5_data %>"></canvas>
        </div>
      </div>

      <div class="chart-bar-wrapper chart-custom">
        <span class="interval1">Exceso</span>
        <span class="interval2">Óptimo</span>
        <span class="interval3">Escaso</span>
        <canvas id="chart6" width="1100" height="226" data-var="<%= @user.chart6_data %>"></canvas>
      </div>
    </div>
  </div>
  <% if !@user.ankles.empty? or @user.max_pronation_left.present? or @user.pronation_speed_left.present? or @user.tibia_max_rotation_left.present? or @user.tibia_rotation_left.present? or
          @user.max_pronation_right.present? or @user.pronation_speed_right.present? or @user.tibia_max_rotation_right.present? or @user.tibia_rotation_right.present?
  %>
      <div class="technical-section">
        <div class="container container-technical">
          <div class="wrapper-top">
            <h3 class="anatomy-headline">TOBILLO I: Ángulo del pie</h3>

            <p class="technical-text">¿Cuánto prona o supina tu pie cuando lo apoyas durante la carrera? La pronación es
              sinónimo de pie "desbloqueado", y es necesaria para acomodarse a las superficies irregulares y permitir
              que el
              dedo gordo del pie llegue a tocar el suelo.</p>

            <div class="foots-img">
              <%= image_tag '4-3.png', alt: 'foot', width: '100%', height: '100%' %>
            </div>
          </div>
          <div class="wrapper-charts">
            <% unless @user.ankles.empty? %>
                <div class="chart-linear-wrapper">
                  <span class="chart-title-x">Tiempo de contacto [%]</span>
                  <span class="chart-title-y">Ángulo del pie[&#176;]</span>
                  <canvas class="chart1" width="560" height="310" data-var="<%= @user.ankle_data %>"></canvas>
                </div>
            <% end %>
            <% if @user.max_pronation_left.present? or @user.pronation_speed_left.present? or @user.tibia_max_rotation_left.present? or @user.tibia_rotation_left.present? or
                    @user.max_pronation_right.present? or @user.pronation_speed_right.present? or @user.tibia_max_rotation_right.present? or @user.tibia_rotation_right.present?
            %>
                <div class="chart-custom chart-custom--small chart-custom--I">
                  <span class="interval1">Exceso</span>
                  <span class="interval2">Óptimo</span>
                  <span class="interval3">Escaso</span>
                  <canvas class="chart2" width="530" height="310" data-var="<%= @user.bar_data %>"></canvas>
                </div>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>

  <% if !@user.foot_and_knee_angels.empty? or (@user.instant_of_left_max_pronation.present? or @user.instant_of_right_max_pronation.present?) %>
      <div class="technical-section">
        <div class="container container-technical">
          <div class="wrapper-top">
            <h3 class="anatomy-headline">TOBILLO II: Ángulo del pie y ángulo sagital de la rodilla</h3>

            <p class="technical-text">La máxima pronación del pie debería producirse cercana a la máxima flexión de
              rodilla.</p>

            <div class="foots-img">
              <%= image_tag '4-4.png', alt: 'foot', width: '100%', height: '100%' %>
            </div>
          </div>
          <div class="wrapper-charts">
            <% unless @user.foot_and_knee_angels.empty? %>
                <div class="chart-linear-wrapper">
                  <span class="chart-title-x">Tiempo de contacto [%]</span>
                  <span class="chart-title-y">Ángulo sagital de la rodilla[&#176;]</span>
                  <span class="chart-title-y2">Ángulo del pie[&#176;]</span>
                  <canvas class="chart3" width="560" height="310" data-var="<%= @user.foot_and_knee_data %>"></canvas>
                </div>
            <% end %>
            <% if @user.instant_of_left_max_pronation.present? or @user.instant_of_right_max_pronation.present? %>
                <div class="chart-custom chart-custom--small chart-custom--II">
                  <span class="interval1">Exceso</span>
                  <span class="interval2">Óptimo</span>
                  <span class="interval3">Escaso</span>
                  <canvas class="chart4" width="530" height="310" data-var="<%= @user.instant_of_max_pronation_data %>"></canvas>
                </div>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>

  <% if !@user.knee_frontal_angles.empty? or @user.left_knee_abduction.present? or @user.right_knee_abduction.present? or @user.left_knee_abduction_speed.present? or @user.right_knee_abduction_speed.present? %>
      <div class="technical-section">
        <div class="container container-technical">
          <div class="wrapper-top">
            <h3 class="anatomy-headline">RODILLA I: Ángulo frontal de la rodilla</h3>

            <p class="technical-text">Movimiento de separación (abducción) y acercamiento (aducción) de la pierna hacia
              la línea media del cuerpo. Una abducción elevada, aumenta la carga soportada por la rodilla, rótula y pierna.
            </p>

            <div class="foots-img">
              <%= image_tag '4-5.png', alt: 'foot', width: '100%', height: '100%' %>
            </div>
          </div>
          <div class="wrapper-charts">
            <% unless @user.knee_frontal_angles.empty? %>
                <div class="chart-linear-wrapper">
                  <span class="chart-title-x">Tiempo de contacto [%]</span>
                  <span class="chart-title-y">Ángulo frontal de la rodilla[&#176;]</span>
                  <canvas class="chart5" width="560" height="310" data-var="<%= @user.knee_frontal_data %>"></canvas>
                </div>
            <% end %>
            <% if @user.left_knee_abduction.present? or @user.right_knee_abduction.present? or @user.left_knee_abduction_speed.present? or @user.right_knee_abduction_speed.present? %>
                <div class="chart-custom chart-custom--small">
                  <span class="interval1">Exceso</span>
                  <span class="interval2">Óptimo</span>
                  <span class="interval3">Escaso</span>
                  <canvas class="chart6" width="530" height="310" data-var="<%= @user.abduction_data %>"></canvas>
                </div>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>

  <% if !@user.knee_rotations.empty? or @user.left_knee_rotation.present? or @user.right_knee_rotation.present? %>
      <div class="technical-section ">
        <div class="container container-technical">
          <div class="wrapper-top">
            <h3 class="anatomy-headline">RODILLA II: Rotación de la rodilla</h3>

            <p class="technical-text">La cantidad de rotación interna y externa de la rodilla. Demasiada rotación
              interna de
              la rodilla, aumenta la carga soportada por la rodilla, rótula y pierna.</p>

            <div class="foots-img">
              <%= image_tag '4-6.png', alt: 'foot', width: '100%', height: '100%' %>
            </div>
          </div>
          <div class="wrapper-charts">
            <% unless @user.knee_rotations.empty? %>
                <div class="chart-linear-wrapper">
                  <span class="chart-title-x">Tiempo de contacto [%]</span>
                  <span class="chart-title-y">Rotación de la rodilla[&#176;]</span>
                  <canvas class="chart7" width="560" height="310" data-var="<%= @user.knee_rotation_data %>"></canvas>
                </div>
            <% end %>
            <% if @user.left_knee_rotation.present? or @user.right_knee_rotation.present? %>
                <div class="chart-custom chart-custom--small">
                  <span class="interval1">Exceso</span>
                  <span class="interval2">Óptimo</span>
                  <span class="interval3">Escaso</span>
                  <canvas class="chart8" width="530" height="310" data-var="<%= @user.knee_rotation_bar_data %>"></canvas>
                </div>
            <% end %>

          </div>
        </div>
      </div>
  <% end %>

  <% if !@user.knee_sagital_angles.empty? or @user.left_knee_flexion.present? or @user.right_knee_flexion.present? %>
      <div class="technical-section ">
        <div class="container container-technical">
          <div class="wrapper-top">
            <h3 class="anatomy-headline">RODILLA III: Ángulo sagital de la rodilla</h3>

            <p class="technical-text">Cantidad de flexión y extensión de la rodilla durante la carrera. Se necesita una
              cierta cantidad de la flexión de rodilla para ayudar a amortiguar las fuerzas de impacto producidas por el
              contacto con el suelo.</p>

            <div class="foots-img">
              <%= image_tag '4-7.png', alt: 'foot', width: '100%', height: '100%' %>
            </div>
          </div>
          <div class="wrapper-charts">
            <% unless @user.knee_sagital_angles.empty? %>
                <div class="chart-linear-wrapper">
                  <span class="chart-title-x">Tiempo de contacto [%]</span>
                  <span class="chart-title-y">Ángulo sagital de la rodilla[&#176;]</span>
                  <canvas class="chart9" width="560" height="310" data-var="<%= @user.knee_sagital_data %>"></canvas>
                </div>
            <% end %>
            <% if @user.left_knee_flexion.present? or @user.right_knee_flexion.present? %>
                <div class="chart-custom chart-custom--small">
                  <span class="interval1">Exceso</span>
                  <span class="interval2">Óptimo</span>
                  <span class="interval3">Escaso</span>
                  <canvas class="chart10" width="530" height="310" data-var="<%= @user.flexion_data %>"></canvas>
                </div>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>

  <% if !@user.hip_frontal_angles.empty? or @user.left_hip_basculation.present? or @user.right_hip_basculation.present? or @user.left_hip_abduction.present? or @user.right_hip_abduction.present? %>
      <div class="technical-section ">
        <div class="container container-technical">
          <div class="wrapper-top">
            <h3 class="anatomy-headline">CADERA I: Basculación de la cadera</h3>

            <p class="technical-text">El ciclo de carrera es una sucesión de apoyos sobre un único pie. Durante esos apoyos la pelvis contralateral a la de la pierna que está apoyada cae ligeramente. Una excesiva caída de la pelvis se relaciona con mayor tensión soportada por la pelvis, cadera o parta baja de la espalda.</p>

            <div class="foots-img">
              <%= image_tag '4-8.png', alt: 'foot', width: '100%', height: '100%' %>
            </div>
          </div>
          <div class="wrapper-charts">
            <% unless @user.hip_frontal_angles.empty? %>
                <div class="chart-linear-wrapper">
                  <span class="chart-title-x">Tiempo de contacto [%]</span>
                  <span class="chart-title-y">Basculación cadera[&#176;]</span>
                  <canvas class="chart11" width="560" height="310" data-var="<%= @user.hip_frontal_data %>"></canvas>
                </div>
            <% end %>
            <% if @user.left_hip_basculation.present? or @user.right_hip_basculation.present? or @user.left_hip_abduction.present? or @user.right_hip_abduction.present? %>
                <div class="chart-custom chart-custom--small">
                  <span class="interval1">Exceso</span>
                  <span class="interval2">Óptimo</span>
                  <span class="interval3">Escaso</span>
                  <canvas class="chart12" width="530" height="310" data-var="<%= @user.hip_abduction_data %>"></canvas>
                </div>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>

  <% if !@user.hip_rotations.empty? or @user.left_hip_rotation.present? or @user.right_hip_rotation.present? %>
      <div class="technical-section ">
        <div class="container container-technical">
          <div class="wrapper-top">
            <h3 class="anatomy-headline">CADERA II: Rotación de la cadera</h3>

            <p class="technical-text">La cantidad de rotación interna y externa de la rodilla. Una mayor rotación
              interna de
              cadera puede contribuir a aumentar las fuerzas de torsión de la pelvis, cadera y rodilla.</p>

            <div class="foots-img">
              <%= image_tag '4-9.png', alt: 'foot', width: '100%', height: '100%' %>
            </div>
          </div>
          <div class="wrapper-charts">
            <% unless @user.hip_rotations.empty? %>
                <div class="chart-linear-wrapper">
                  <span class="chart-title-x">Tiempo de contacto [%]</span>
                  <span class="chart-title-y">Rotación de la cadera[&#176;]</span>
                  <canvas class="chart13" width="560" height="310" data-var="<%= @user.hip_rotations_data %>"></canvas>
                </div>
            <% end %>
            <% if @user.left_hip_rotation.present? or @user.right_hip_rotation.present? %>
                <div class="chart-custom chart-custom--small">
                  <span class="interval1">Exceso</span>
                  <span class="interval2">Óptimo</span>
                  <span class="interval3">Escaso</span>
                  <canvas class="chart14" width="530" height="310" data-var="<%= @user.hip_rotation_bar_data %>"></canvas>
                </div>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>

  <% if !@user.hip_sagital_angles.empty? or @user.left_hip_max_extension.present? or @user.right_hip_max_extension.present? %>
      <div class="technical-section ">
        <div class="container container-technical">
          <div class="wrapper-top">
            <h3 class="anatomy-headline">CADERA III: Ángulo sagital de la cadera</h3>

            <p class="technical-text">Cantidad de flexión y extensión de la cadera durante la carrera. Es necesario una
              cierta cantidad de extensión para ayudar a para mantener la velocidad de carrera.</p>

            <div class="foots-img">
              <%= image_tag '4-10.png', alt: 'foot', width: '100%', height: '100%'%>
            </div>
          </div>
          <div class="wrapper-charts">
            <% unless @user.hip_sagital_angles.empty? %>
                <div class="chart-linear-wrapper">
                  <span class="chart-title-x">Tiempo de contacto [%]</span>
                  <span class="chart-title-y">Ángulo sagital de la cadera[&#176;]</span>
                  <canvas class="chart15" width="560" height="310" data-var="<%= @user.hip_sagital_data %>"></canvas>
                </div>
            <% end %>
            <% if @user.left_hip_max_extension.present? or @user.right_hip_max_extension.present? %>
                <div class="chart-custom chart-custom--small">
                  <span class="interval1">Exceso</span>
                  <span class="interval2">Óptimo</span>
                  <span class="interval3">Escaso</span>
                  <canvas class="chart16" width="530" height="310" data-var="<%= @user.hip_extension_data %>"></canvas>
                </div>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
</section>
<%
   show_anatomia_subsection = @user.q_angle_left.present? or @user.q_angle_right.present? or
           @user.legs_length_discrepancy_left.present? or @user.legs_length_discrepancy_right.present? or
           @user.back_foot_angle_left.present? or @user.back_foot_angle_right.present?
   show_flex_subsection = @user.hip_rotatoes_left.present? or @user.hip_rotatoes_right.present? or
           @user.isquiotibiales_left.present? or @user.isquiotibiales_right.present? or
           @user.iliotibial_band_left.present? or @user.iliotibial_band_right.present? or
           @user.psoas_iliaco_left.present? or @user.psoas_iliaco_right.present? or
           @user.recto_femoral_left.present? or @user.recto_femoral_right.present? or
           @user.gastrocnemius_y_soleo_left.present? or @user.gastrocnemius_y_soleo_right.present?
   show_fuerza_subsection = @user.mid_gluteus_strength_left.present? or @user.mid_gluteus_strength_right.present? or
           @user.isquiotibial_strength_left.present? or @user.isquiotibial_strength_right.present? or
           @user.vasto_lateral_left.present? or @user.vasto_lateral_right.present? or
           @user.vasto_intermedio_left.present? or @user.vasto_intermedio_right.present? or
           @user.vasto_medial_left.present? or @user.vasto_medial_right.present? or
           @user.back_tibial_strength_left.present? or @user.back_tibial_strength_right.present?
%>
<% if show_anatomia_subsection or show_flex_subsection or show_fuerza_subsection %>
    <section class="accordion anatomy">
      <div class="container">
        <h2 class="section-headline">EVALUACIÓN <br>ANATÓMICA</h2>

        <p class="section-text">Tu forma de correr se ve afectada por factores biomecánicos, tu fortaleza muscular, tu
          flexibilidad y tu alineamiento anatómico. El análisis biomecánico se complementa con mediciones científicas de
          estos factores para confirmar las debilidades identificadas y así tener un análisis de 360º de tu técnica de
          carrera.</p>
        <a class="btn"><span class="closed-section">Ver</span><span class="opened-section">Cerrar</span> la evaluacion
          anatomica</a>
      </div>
    </section>
    <section class="anatomy-open accordion-open">
      <% if show_anatomia_subsection %>
          <div class="content-wrapper content-wrapper--anatomy">
            <div class="container container--inside">
              <div class="left left--anatomy">
                <h3 class="anatomy-headline">ANATOMÍA</h3>

                <p>El <strong>ángulo del retro-pie</strong> corresponde al ángulo que forma el tobillo. El
                  <strong>ángulo Q</strong> hace referencia a la discrepancia de alineación entre el muslo y la
                  pantorrilla. La
                  <strong>discrepancia en la longitud de las piernas</strong> es la diferencia de longitud de una pierna
                  sobre
                  la otra (si tienes una pierna más corta que la otra).</p>
                <a class="show_left orange" href="#">Pierna izquierda</a> <span class="gray">|</span>
                <a class="show_right gray" href="#">Pierna derecha</a><br><br>

                <div class="annatomy-chart-wrapper">
                  <canvas id="charta1chartleft" class="chart-a1 chartleft" width="360" height="360" data-var="<%= @user.a1_data_left %>"></canvas>
                  <canvas id="charta1chartright" class="chart-a1 chartright" width="360" height="360" data-var="<%= @user.a1_data_right %>"></canvas>
                </div>

              </div>
              <div class="right right-anatomy">
                <div class="charts-and-image-wrapper">
                  <%= image_tag "anatomy-placeholder#{@user.gender.to_s.downcase == 'female' ? '-woman' : ''}.png" %>

                  <div id="divq_angle_left" class="small-chart-wrapper chart-optimo chartleft">
                    <span class="down">Óptimo</span>
                    <canvas id="q_angle_left" class="anatomy1 " width="95" height="95" data-var="<%= @user.anatomica_data(:q_angle_left) %>"></canvas>
                    <h6>Ángulo Q</h6>
                  </div>
                  <div id="divq_angle_right" class="small-chart-wrapper chart-optimo chartright">
                    <span class="down">Óptimo</span>
                    <canvas id="q_angle_right" class="anatomy1 " width="95" height="95" data-var="<%= @user.anatomica_data(:q_angle_right) %>"></canvas>
                    <h6>Ángulo Q</h6>
                  </div>


                  <div id="legs_length_discrepancy_left" class="small-chart-wrapper chart-bajo chartleft">
                    <span class="down">Óptimo</span>
                    <canvas id="q_angle_left" class="anatomy1" width="95" height="95" data-var="<%= @user.anatomica_data(:legs_length_discrepancy_left) %>"></canvas>
                    <h6>Discrepancia longitud de las piernas</h6>
                  </div>
                  <div id="legs_length_discrepancy_right" class="small-chart-wrapper chart-bajo chartright">
                    <span class="down">Óptimo</span>
                    <canvas id="q_angle_right" class="anatomy1" width="95" height="95" data-var="<%= @user.anatomica_data(:legs_length_discrepancy_right) %>"></canvas>
                    <h6>Discrepancia longitud de las piernas</h6>
                  </div>


                  <div id="back_foot_angle_left" class="small-chart-wrapper chart-aceptable chartleft">
                    <span class="down">Óptimo</span>
                    <canvas id="q_angle_left" class="anatomy1" width="95" height="95" data-var="<%= @user.anatomica_data(:back_foot_angle_left) %>"></canvas>
                    <h6>Ángulo del retro-pie</h6>
                  </div>
                  <div id="back_foot_angle_right" class="small-chart-wrapper chart-aceptable chartright">
                    <span class="down">Óptimo</span>
                    <canvas id="q_angle_right" class="anatomy1" width="95" height="95" data-var="<%= @user.anatomica_data(:back_foot_angle_right) %>"></canvas>
                    <h6>Ángulo del retro-pie</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <% end %>
      <% if show_flex_subsection %>
          <div class="content-wrapper content-wrapper--anatomy">
            <div class="container container--inside">
              <div class="left left--anatomy">
                <h3 class="anatomy-headline">FLEXIBILIDAD</h3>

                <p>El <strong>psoas ilíaco</strong> es un músculo profundo que se sitúa a la altura de la cadera, más o
                  menos en
                  la ingle. El <strong>recto femoral</strong> es un músculo que recorre toda la parte anterior del muslo
                  justo
                  por el centro. <strong>Gastrocnemius</strong> y <strong>sóleo</strong> son los famosos gemelos. Los
                  <strong>rotadores de cadera</strong> son un grupo de músculos que se sitúan en la parte lateral de la
                  cadera.
                  Los <strong>isquiotibiales</strong> son varios músculos que recorren la parte posterior del muslo. La
                  <strong>banda iliotibial</strong> es un músculo que recorre la parte lateral (externa) del muslo.
                </p>
                <a class="show_left orange" href="#">Pierna izquierda</a> <span class="gray">|</span>
                <a class="show_right gray" href="#">Pierna derecha</a><br><br>

                <div class="annatomy-chart-wrapper">
                  <canvas id="charta2chartleft" class="chart-a1 chartleft" width="360" height="360" data-var="<%= @user.a2_data_left %>"></canvas>
                  <canvas id="charta2chartright" class="chart-a1 chartright" width="360" height="360" data-var="<%= @user.a2_data_right %>"></canvas>
                </div>
              </div>
              <div class="right right-anatomy">
                <div class="charts-and-image-wrapper">
                  <%= image_tag "flexibilidad#{@user.gender.to_s.downcase == 'female' ? '-woman' : ''}.png" %>

                  <div id="hip_rotatoes_left" class="small-chart-wrapper chart-left-1 chartleft">
                    <span class="down">Óptimo</span>
                    <canvas class="anatomy1" width="95" height="95" data-var="<%= @user.anatomica_data(:hip_rotatoes_left) %>"></canvas>
                    <h6>Rotadores de cadera</h6>
                  </div>
                  <div id="hip_rotatoes_right" class="small-chart-wrapper chart-left-1 chartright">
                    <span class="down">Óptimo</span>
                    <canvas class="anatomy1" width="95" height="95" data-var="<%= @user.anatomica_data(:hip_rotatoes_right) %>"></canvas>
                    <h6>Rotadores de cadera</h6>
                  </div>

                  <div id="isquiotibiales_left" class="small-chart-wrapper chart-left-2 chartleft">
                    <span class="down">Óptimo</span>
                    <canvas class="anatomy1" width="95" height="95" data-var="<%= @user.anatomica_data(:isquiotibiales_left) %>"></canvas>
                    <h6>Isquiotibiales</h6>
                  </div>
                  <div id="isquiotibiales_right" class="small-chart-wrapper chart-left-2 chartright">
                    <span class="down">Óptimo</span>
                    <canvas class="anatomy1" width="95" height="95" data-var="<%= @user.anatomica_data(:isquiotibiales_right) %>"></canvas>
                    <h6>Isquiotibiales</h6>
                  </div>

                  <div id="iliotibial_band_left" class="small-chart-wrapper chart-bajo chartleft">
                    <span class="down">Óptimo</span>
                    <canvas class="anatomy1" width="95" height="95" data-var="<%= @user.anatomica_data(:iliotibial_band_left) %>"></canvas>
                    <h6>Banda iliotibial</h6>
                  </div>
                  <div id="iliotibial_band_right" class="small-chart-wrapper chart-bajo chartright">
                    <span class="down">Óptimo</span>
                    <canvas class="anatomy1" width="95" height="95" data-var="<%= @user.anatomica_data(:iliotibial_band_right) %>"></canvas>
                    <h6>Banda iliotibial</h6>
                  </div>

                  <div id="psoas_iliaco_left" class="small-chart-wrapper chart-right-1 chartleft">
                    <span class="down">Óptimo</span>
                    <canvas class="anatomy1" width="95" height="95" data-var="<%= @user.anatomica_data(:psoas_iliaco_left) %>"></canvas>
                    <h6>Psoas iliaco</h6>
                  </div>
                  <div id="psoas_iliaco_right" class="small-chart-wrapper chart-right-1 chartright">
                    <span class="down">Óptimo</span>
                    <canvas class="anatomy1" width="95" height="95" data-var="<%= @user.anatomica_data(:psoas_iliaco_right) %>"></canvas>
                    <h6>Psoas iliaco</h6>
                  </div>

                  <div id="recto_femoral_left" class="small-chart-wrapper chart-right-2 chartleft">
                    <span class="down">Óptimo</span>
                    <canvas class="anatomy1" width="95" height="95" data-var="<%= @user.anatomica_data(:recto_femoral_left) %>"></canvas>
                    <h6>Recto femoral</h6>
                  </div>
                  <div id="recto_femoral_right" class="small-chart-wrapper chart-right-2 chartright">
                    <span class="down">Óptimo</span>
                    <canvas class="anatomy1" width="95" height="95" data-var="<%= @user.anatomica_data(:recto_femoral_right) %>"></canvas>
                    <h6>Recto femoral</h6>
                  </div>

                  <div id="gastrocnemius_y_soleo_left" class="small-chart-wrapper chart-right-3 chartleft">
                    <span class="down">Óptimo</span>
                    <canvas class="anatomy1" width="95" height="95" data-var="<%= @user.anatomica_data(:gastrocnemius_y_soleo_left) %>"></canvas>
                    <h6>Gastrocnemius y sóleo</h6>
                  </div>
                  <div id="gastrocnemius_y_soleo_right" class="small-chart-wrapper chart-right-3 chartright">
                    <span class="down">Óptimo</span>
                    <canvas class="anatomy1" width="95" height="95" data-var="<%= @user.anatomica_data(:gastrocnemius_y_soleo_right) %>"></canvas>
                    <h6>Gastrocnemius y sóleo</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <% end %>
      <% if show_fuerza_subsection %>
          <div class="content-wrapper content-wrapper--anatomy">
            <div class="container container--inside">
              <div class="left left--anatomy">
                <h3 class="anatomy-headline">FUERZA</h3>

                <p>El <strong>vasto intermedio</strong> es la parte central del cuádriceps.
                  <strong>Vasto medial</strong> son
                  las fibras internas del cuádriceps. El <strong>tibial posterior</strong> es el músculo que recorre la
                  parte
                  interna de la pantorrilla hasta insertarse en el pie. El <strong>glúteo medio</strong> es el músculo
                  de la
                  cadera. Los <strong>isquiotibiales</strong> son varios músculos que recorren la parte posterior del
                  muslo.
                  Finalmente, el <strong>vasto lateral</strong> se refiere a las fibras externas del cuádriceps.</p>
                <a class="show_left orange" href="#">Pierna izquierda</a> <span class="gray">|</span>
                <a class="show_right gray" href="#">Pierna derecha</a><br><br>

                <div class="annatomy-chart-wrapper">
                  <canvas id="charta3chartleft" class="chart-a1 chartleft" width="395" height="395" data-var="<%= @user.a3_data_left %>"></canvas>
                  <canvas id="charta3chartright" class="chart-a1 chartright" width="395" height="395" data-var="<%= @user.a3_data_right %>"></canvas>
                </div>
              </div>
              <div class="right right-anatomy">
                <div class="charts-and-image-wrapper">
                  <%= image_tag "fuerza#{@user.gender.to_s.downcase == 'female' ? '-woman' : ''}.png" %>

                  <div id="mid_gluteus_strength_left" class="small-chart-wrapper chart-left-1 chartleft">
                    <span class="down">Óptimo</span>
                    <canvas class="anatomy1" width="95" height="95" data-var="<%= @user.anatomica_data(:mid_gluteus_strength_left) %>"></canvas>
                    <h6>Glúteo medio</h6>
                  </div>
                  <div id="mid_gluteus_strength_right" class="small-chart-wrapper chart-left-1 chartright">
                    <span class="down">Óptimo</span>
                    <canvas class="anatomy1" width="95" height="95" data-var="<%= @user.anatomica_data(:mid_gluteus_strength_right) %>"></canvas>
                    <h6>Glúteo medio</h6>
                  </div>

                  <div id="isquiotibial_strength_left" class="small-chart-wrapper chart-left-2 chartleft">
                    <span class="down">Óptimo</span>
                    <canvas class="anatomy1" width="95" height="95" data-var="<%= @user.anatomica_data(:isquiotibial_strength_left) %>"></canvas>
                    <h6>Isquiotibiales</h6>
                  </div>
                  <div id="isquiotibial_strength_right" class="small-chart-wrapper chart-left-2 chartright">
                    <span class="down">Óptimo</span>
                    <canvas class="anatomy1" width="95" height="95" data-var="<%= @user.anatomica_data(:isquiotibial_strength_right) %>"></canvas>
                    <h6>Isquiotibiales</h6>
                  </div>

                  <div id="vasto_lateral_left" class="small-chart-wrapper chart-bajo chartleft">
                    <span class="down">Óptimo</span>
                    <canvas class="anatomy1" width="95" height="95" data-var="<%= @user.anatomica_data(:vasto_lateral_left) %>"></canvas>
                    <h6>Vasto lateral</h6>
                  </div>
                  <div id="vasto_lateral_right" class="small-chart-wrapper chart-bajo chartright">
                    <span class="down">Óptimo</span>
                    <canvas class="anatomy1" width="95" height="95" data-var="<%= @user.anatomica_data(:vasto_lateral_right) %>"></canvas>
                    <h6>Vasto lateral</h6>
                  </div>


                  <div id="vasto_intermedio_left" class="small-chart-wrapper chart-right-1 chartleft">
                    <span class="down">Óptimo</span>
                    <canvas class="anatomy1" width="95" height="95" data-var="<%= @user.anatomica_data(:vasto_intermedio_left) %>"></canvas>
                    <h6>Vasto intermedio</h6>
                  </div>
                  <div id="vasto_intermedio_right" class="small-chart-wrapper chart-right-1 chartright">
                    <span class="down">Óptimo</span>
                    <canvas class="anatomy1" width="95" height="95" data-var="<%= @user.anatomica_data(:vasto_intermedio_right) %>"></canvas>
                    <h6>Vasto intermedio</h6>
                  </div>

                  <div id="vasto_medial_left" class="small-chart-wrapper chart-right-2 chartleft">
                    <span class="down">Óptimo</span>
                    <canvas class="anatomy1" width="95" height="95" data-var="<%= @user.anatomica_data(:vasto_medial_left) %>"></canvas>
                    <h6>Vasto medial</h6>
                  </div>
                  <div id="vasto_medial_right" class="small-chart-wrapper chart-right-2 chartright">
                    <span class="down">Óptimo</span>
                    <canvas class="anatomy1" width="95" height="95" data-var="<%= @user.anatomica_data(:vasto_medial_right) %>"></canvas>
                    <h6>Vasto medial</h6>
                  </div>

                  <div id="back_tibial_strength_left" class="small-chart-wrapper chart-right-3 chartleft">
                    <span class="down">Óptimo</span>
                    <canvas class="anatomy1" width="95" height="95" data-var="<%= @user.anatomica_data(:back_tibial_strength_left) %>"></canvas>
                    <h6>Tibial posterior</h6>
                  </div>
                  <div id="back_tibial_strength_right" class="small-chart-wrapper chart-right-3 chartright">
                    <span class="down">Óptimo</span>
                    <canvas class="anatomy1" width="95" height="95" data-var="<%= @user.anatomica_data(:back_tibial_strength_right) %>"></canvas>
                    <h6>Tibial posterior</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </section>
<% end %>
<%
   conclusion_present = @user.conclusions.present?
   exercises_present = !@user.recommendations.empty?
   show_conclusion_section = conclusion_present or exercises_present
%>
<% if show_conclusion_section %>
    <section class="accordion conclusion">
      <div class="container">
        <h2 class="section-headline">NUESTRAS <br>CONCLUSIONES</h2>

        <p class="section-text">Identificación, por parte de nuestro equipo de expertos en biomecánica de carrera con
          más de
          15 años de experiencia, de los movimientos más relevantes de tu carrera que se desvían de lo ideal, que pueden
          llevarte a una lesión (o te han llevado ya a lesionarte) y que están impiendo que liberes todo tu potencial,
          junto
          con recomendaciones de como corregirlos.</p>
        <a class="btn"><span class="closed-section">Ver</span><span class="opened-section">Cerrar</span> las
          conclusiones
          del informe</a>
      </div>
    </section>

    <section class="conclusion-open accordion-open">
      <div class="container container--inside container--inside--conclusion">
        <% if conclusion_present %>
            <h3 class="conclusion-headline"><%= @user.name.upcase %>,</h3>

            <p><%= @user.conclusions %></p>
        <% end %>

        <% if exercises_present %>
            <h4 class="conclusion-small-headline">Desde I+DRunning te recomendamos dos intervenciones:</h4>
            <ol class="conclusion-list">
              <% @user.recommendations.each do |recommendation| %>
                  <li><%= recommendation.recommendation %></li>
              <% end %>
            </ol>
        <% end %>
        <small>Pablo Floria, experto en biomecanica de I+DRunning</small>
      </div>
    </section>
<% end %>

<% unless @user.programs.empty? %>
    <section class="accordion programme">
      <div class="container">
        <h2 class="section-headline">PROGRAMA DE <br>EJERCICIOS</h2>

        <p class="section-text">Un plan personalizado de ejercicios adaptados para mejorar tu especifica forma de
          correr.
          Una combinación de ejercicios de fortalecimiento y flexibilidad muscular con el objetivo de ayudar a tu cuerpo
          a
          soportar mejor tu individual técnica de carrera y de ejercicios de retraining para progresivamente corregir
          los
          gestos lesivos e ineficientes de tu carrera. </p>
        <a class="btn"><span class="closed-section">Ver</span><span class="opened-section">Cerrar</span> el programa de
          ejercicios</a>

      </div>
    </section>
    <section class="programme-open accordion-open">
      <% @user.programs.each.with_index do |program, index| %>
          <div class="content-wrapper">
            <div class="container container--inside">
              <div class="left">
                <h3 class="programme-headline"><%= "#{index + 1}. #{program.title}" %></h3>

                <p><%= program.text %></p>

              </div>
              <% if @user.program_videos.to_a[index].present? %>
                  <div class="right">
                    <iframe src="<%= @user.program_videos.all.to_a[index].video_url %>" width="540px" height="270px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                  </div>
              <% end %>
            </div>
          </div>
      <% end %>
    </section>
<% end %>
<!-- Page footer -->
<footer>
  <div class="container">
    <a class="logo logo--footer orange" href="<%= root_path %>">
      <%= image_tag 'logo.png', alt: 'running' %> Estudio biomecánico en 3D de tu técnica de carrera</a>

    <div class="social">
      <%= link_to 'SOBRE NOSOTROS', 'http://imasdrunning.com', class: 'footer-link white' %>
      <%= link_to 'FAQ', 'http://imasdrunning.com/estudio-biomecanico-3d/preguntas-frecuentes/', class: 'footer-link white' %>
      <%= link_to 'CONTACTO', 'http://imasdrunning.com/#contacto', class: 'footer-link white' %>
      <div class="buttons_wrapper">
      <%= render 'shared/social_buttons' %>
      </div>
    </div>
  </div>
</footer>
</div>