<header>
  <div class="container">

    <%= form_for(@user, class: 'form', role: 'form') do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.hidden_field :id %>
        <%= f.hidden_field :updating_password, value: true %>

        <h4 class="home__headline">New Password</h4>
        <%= f.password_field :password, class: 'simple_edit', size: 50 %>

        <h4 class="home__headline">Confirmation</h4>
        <%= f.password_field :password_confirmation, class: 'simple_edit', size: 50 %>
        <p><%= f.submit 'SAVE', class: 'btn-admin' %></p>
    <% end %>
  </div>
</header>