<div id="page" class="admin-page">

  <div class="option-panel option-panel--big ">
    <div class="panel-left">
      <span class="clients"><%= User.count - 1 %> INFORMES DE CLIENTE</span>
    </div>
    <div class="panel-right">
      <div class="option-bar">
        <%= form_tag bulk_delete_users_path, id:'bulk_delete_form', role: 'form', style: 'display: inline;' do -%>
            <%= link_to "BORRAR INFORMES", '#', id: 'delete_selected', class: 'btn-admin' %>
        <% end %>

        <a class="btn-admin search" href="#">
          <%= form_tag(users_path, :method => :get, role: 'search', style: 'display: inline;') do %>
              <%= hidden_field_tag 'clients', (params['clients'] if params['clients'].present?) %>
              <%= text_field_tag 'term', (params['term'] if params['term'].present?), placeholder: "BUSCAR..." %>
          <% end %>
        </a>

        <%= link_to 'CREAR UN INFORME', new_user_path(params), role: 'button', class: 'btn-admin add-new' %>
      </div>
    </div>
  </div>

  <div class="no-clients">
    <p>No existe ningun informe actualmente</p>
  </div>

  <div id="clients_table" class="clients-list">
    <div class="client-row client-header">
      <div class="col col-name">
        <div class="headline-withoutsort">NOMBRE</div>
      </div>
      <div class="col col-mail"><div class="headline-withoutsort">EMAIL</div></div>
      <div class="col col-nevel"><div class="headline-withoutsort">NEVEL</div></div>
      <div class="col col-deporte"><div class="headline-withoutsort">DEPORTE</div></div>
      <div class="col col-date"><div class="headline-withoutsort">FECHA DEL INFORME</div></div>
    </div>
    <%= render @users %>
  </div>
</div>