<div id="page" class="admin-page">

  <div class="option-panel option-panel--big ">
    <div class="panel-left">
      <span class="clients"><%= User.count - 1 %> INFORMES DE CLIENTE</span>
    </div>
    <div class="panel-right">
      <div class="option-bar">
        <a class="btn-admin" href="#">BORRAR INFORMES</a>

        <a class="btn-admin search" href="#">
          <%= form_tag(users_path, :method => :get, role: 'search', style: "display: inline;") do %>
              <%= hidden_field_tag 'clients', (params['clients'] if params['clients'].present?) %>
              <%= text_field_tag 'term', (params['term'] if params['term'].present?), placeholder: "BUSCAR..." %>
          <% end %>
        </a>

        <%= link_to 'CREAR UN INFORME', new_user_path(params), role: 'button', class: 'btn-admin add-new' %>
      </div>
    </div>
  </div>

  <div class="no-clients">
    <p>No existe ningun informe actualmente</p>
  </div>

  <div class="clients-list">
    <div class="client-row client-header">
      <div class="col col-name">
        <input class="client-list-checkbox" type="checkbox" name="name" value="0"/>
        <a class="headline" href="#">NOMBRE</a>
      </div>
      <div class="col col-mail"><a class="headline" href="#">EMAIL</a></div>
      <div class="col col-nevel"><a class="headline" href="#">NEVEL</a></div>
      <div class="col col-deporte"><a class="headline" href="#">DEPORTE</a></div>
      <div class="col col-distance"><a class="headline" href="#">DISTANCIA HABITUAL</a></div>
      <div class="col col-date"><a class="headline active" href="#">FECHA DEL INFORME</a></div>
    </div>
    <%= render @users %>
  </div>
</div>