<!DOCTYPE html>
<html>
<head>
  <title>Running</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='//fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<% if controller_name == 'sessions'
     class_name = 'dark'
   end %>
<body class="<%= class_name %> <%= yield :body_class %>">

<%= render 'layouts/admin_toolbar' %>
<%= yield %>

</body>
</html>
