<!DOCTYPE html>
<html>
<head>
  <title>Running</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <script src="//connect.facebook.net/en_US/all.js"></script>
  <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='//fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <meta property="og:site_name" content="I+D Running"/>
  <meta property="og:title" content="Estudio biomecánico en 3D de técnica de carrera para <%= yield :customer_name %>" />
  <meta property="og:description" content="¿Aumenta tu técnica de carrera la posibilidad de caer en lesiones? ¿Qué partes de tu patrón de movimiento están especialmente sobrecargadas? Nuestro sistema de captación de movimiento en 3D y la base de datos biomecánicos de corredores en 3D más extensa del mundo nos permite entender cómo corre tu cuerpo e identificar las debilidades en tu forma de correr que limitan tu potencial y te llevan a lesionarte." />
</head>
<body>
<div id="page">
  <%= render 'layouts/admin_toolbar' %>
  <%= render 'layouts/header' %>
  <%= yield %>
</div>
</body>
</html>